@import "../../../assets/styles/variables";

.GhostButton {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
  background: none;
}

.primary {
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    color: darken($color: $primary, $amount: 10%);
    border: 1px solid darken($color: $primary, $amount: 10%);
  }
}

.secondary {
  color: $secondary;
  border: 1px solid $secondary;

  &:hover {
    color: darken($color: $secondary, $amount: 10%);
    border: 1px solid darken($color: $secondary, $amount: 10%);
  }
}

.tertiary {
  color: $tertiary-dark;
  border: 1px solid $tertiary-dark;

  &:hover {
    color: darken($color: $tertiary-dark, $amount: 10%);
    border: 1px solid darken($color: $tertiary-dark, $amount: 10%);
  }
}
