@import "../../assets/styles/variables";

.scores {
  text-align: left;
  color: $off-white;
}

.form {
  max-width: 400px;
}

.formRow {
  display: flex;
  margin-bottom: 5px;

  .btn {
    margin: 0 5px;
  }
}

.formRowInput {
  margin-left: 10px;
  margin-right: 10px;
}

.buttonGroup {
  width: 100%;
}
