@import "./assets/styles/variables";

.App {
  font-family: $oxygen;
  color: white;
  text-align: center;
  background:
    radial-gradient(circle at 85% 15%, rgba(0, 252, 230, 0.5), rgba(0, 252, 230, 0) 40%),
    radial-gradient(circle at 55% 45%, rgba(168, 146, 251, 0.5), rgba(168, 146, 251, 0) 40%),
    radial-gradient(circle at 25% 55%, rgba(255, 41, 102, 0.5), rgba(255, 41, 102, 0) 40%)
    $black;
  min-height: 100vh;

  h1,
  h2 {
    font-family: $quicksand
  }

  sup {
    top: -1em;
    font-size: 50%;
  }
}

.navbar {
  margin-bottom: 30px;
}
