@import "./styles/variables";

.App {
  text-align: center;
  background-color: $gray;
  min-height: 100vh;
}

.Scores {
  text-align: left;
  color: $off-white;

  &__form {
    max-width: 400px;
  }

  &__form-row {
    display: flex;

    .btn {
      margin: 0 5px;
    }
  }
}

.navbar {
  margin-bottom: 30px;
}

.jumbotron {
  background-color: white !important;
  border: 1px solid $blue;
}
