$gray: #454749;
$off-white: #e9ecef;
$green: #00bc8c;
$orange: #F39C12;
$blue: #17a2b8;
$red: #E74C3C;

$primary: #ff2966;
$secondary: #a892fb;
$tertiary: #00fce6;
$tertiary-dark: #28bfb6;
$black: #040620;

$quicksand: 'Quicksand', sans-serif;
$oxygen: 'Oxygen', sans-serif;
